/* CSS : Selector Introduction */

body{
    font-family: Arial;
}

h1, h2{
/* grouping the h1 and h2 by using "," */
    color: green;
}

ul li a{
/* looking for the "a" inside the "li" that inside "ul" */
    color: green;
}

ol li a{
    color: orange;
}

.lmao p{
/* looking for the "p" inside the "lmao" class */
    color: blue;
}

.lol p{
    color: red;
}

.bold{
    font-weight: bold;
}

p.bold{
/* looking for the "p" that used "bold" class */
    font-size: 20px;
}